body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
   
}

header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: white;
}
header div{
    float: left;
    justify-content: space-between;
}
header .logo{
   margin-left: 100px;
   padding: 20px;
}
header .nav{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 100px;
}
header .nav ul{
    list-style: none;

}
header .nav ul li{
    float: left;
    padding-right: 40px;
    padding-top: 10px;
}
header .nav ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
header .nav ul li a:{
    color: #7f97ff;
}
header .nav ul li a:hover{
    color:#7f97ff ;
}



/*section one start*/
.section1{
    background-color:white;
    width: 100%;
    height: 665px;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    margin-top: 75px;
}
.half1,.half2{
    width: 50%;
}
.half1{
    margin-left: 230px;
    margin-bottom: 120px;
}
.half2{
    padding-right: 160px;
}
.half2 img{
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}
.half1 h3{
    font-weight: normal;
}
.half1 h1{
    font-size: 40px;
}
.half1 p{
    color: rgba(78, 78, 78,0.7);
}
.half1 input{
    padding: 8px 20px;
    background-color: #8393ff;
    outline: none;
    color: white;
    border: 1px solid #8393ff;
    font-size: 15px;
}
.half1 input:hover{
    box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5);
    transition: all 0.5s ease-in 0.1;
    outline: none;
}
/*section one end*/
/*section two start*/
.section2{
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 div{
    width: 40%;
    margin: 0 auto;

}

.section2 img{
    width: 70%;
    height: auto;
}
.section2 .img2{
    padding-left: 150px;
}
.text2 h3{
    font-weight: normal;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
}
.text2 h1{
    font-weight: bold;
    font-size: 40px;
}
.text2 p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    width: 80%;
}
.text2 input{
    font-size: 20px;
    padding: 12px 16px;
    outline: none;
    color: white;
    background-color: #8293ff;
    border: none;
}
.text2 input:hover{
    box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5);
    transition: all 0.5s ease-in 0.1;
    outline: none;
}
/*section two end*/
/*section three start*/
.section3{
    width: 100%;
    height: 650px;
    margin: 0 auto;
    text-align: center;
}
.firsttext h1{
   font-size: 40px;
   line-height: 10px;
}
.firsttext p{
    width: 670px;
    color:rgba(0, 0, 0, 0.6);
    margin: 0 auto;
}
.service{
    width: 80%;
    margin: 0 auto;
    padding-top: 45px;
}
.service .ser1{
    width: 100%;
    overflow: hidden;
}
.ser1 div{
    width: 32%;
    float: left;
    padding: 5px;
    margin: 0 auto;
}
.service i{
    font-size: 45px;
    color: rgba(0, 0, 0, 0.7);
}
.service h1{
    color:rgba(0, 0, 0, 0.9);
}
.service p{
    color: rgba(0, 0, 0, 0.6);
}
.ser1 div:hover{
    background-color: #8293ff;
    
}


.ser1 div:hover h1{
    color: white;
}
.ser1 div:hover i{
    color: white;
}
/*section three end*/
footer{
    background-color: rgba(4,9,30);
    width: 100%;
    height: auto;
    position: absolute;
    margin-top:0px ;
    color: white;
}
footer .foot{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 120px;
}
footer .foot .foot1 p{
    color: rgba(255,255,255,0.5);
}
footer .foot .foot1 input{
    font-size: 15px;
    outline: none;
    border: none;
    padding: 10px 150px 10px 10px;
}
footer .foot .foot1 button{
    font-size: 18px;
    color: white;
    background-color: #8293ff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
}
footer .foot .foot1 i{
    font-size: 15px;
    cursor: pointer;
    padding: 2px 5px;
}
footer .foot .foot1 i:hover{
    color: #8293ff;
}



.sec5{
    width: 100%;
    height: 650px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: white;
    margin-top: 100px;
}
.contact{
    font-weight: bold;
    font-size: 40px;
    
}
.form{
    display: block;
    line-height: 45px;
    
}
.button1{
    padding: 8px 20px;
    background-color: #8393ff;
    outline: none;
    color: white;
    border: 1px solid #8393ff;
    font-size: 15px;
}
.vfd{
    margin-top: 100px;
    margin-bottom: 50px;
    display: block;
    margin-left: 50px;
}
.vfd h2{
    color: rgb(1, 46, 46);
    text-align: center;
}
.vfd p{
    color: #8393ff;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height:100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 -10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;

}
.sidebar a{
    width: 100%;
}
.menubar{
    display: none;
}

@media (max-width:768px){
    header{
        width: 100%;
        height: auto;
    }
    header .logo{
        margin-left: 30px;
        padding: 20px;
    }
    
    header .nav ul li a{
        font-size: 20px;
        text-align: center;
    }
}
@media (max-width:768px){
    .section1{
        width: 100%;
        height: auto;
        display: block;
    }
    .half1{
        margin: auto;
        padding: 0;

    }
    .half1 h3{
        font-size: 15px;
    }
    .half1 h1{
        font-size: 30px;
    }
    .half2 img{
        margin-left: 90px;
        margin-top: 30px;
        max-width: 100%;
        height: auto;
    }
    .section2{
        display: block;
        width: 100%;
        height: 100vh;
        top: 150px;
        position: relative;
    }
    .section2 .img2 img{
        position: relative;
        right: 120px;
    }
    .section2 div{
        width: 100%;
    }
    .text2{
        position: relative;
        left: 15px;
        text-align: center !important;
    }
    .text2 h3{
        font-size: 12px;
    }
    .text2 h1{
        font-size: 30px;
    }
    .text2 p{
        font-size: 15px;
        margin-left: 50px !important;
    }
    .section3{
        width: 100%;
        height: auto;
        position: relative;
        top: 400px;
    }
    .firsttext > h1{
        font-size: 30px;
    }
    .firsttext p{
        width: 80%;
    }
    .ser1 div{
        clear: left;
        position: relative;
        width: 100%;
        height: auto;
    }
    .sec5{
        width: 100%;
        height: 100vh;
        position: relative;
        top: 400px;
    }
    footer{
        width: 100%;
        height: auto;
        position: relative;
        top: 1em;
        
    }
    footer .foot{
        display: block;
        position: relative;
        top: 0px;
    }
    .fot{
         width: 100%;
        height: 100vh;
        position: relative;
        top: 5em;
        
    }
    .fot1{
         width: 100%;
        height: 100vh;
        position: relative;
        top: 20em;
        
    }
}

@media(max-width:800px){
    .hideOnMobile{
        display: none;
    }
    .menubar{
        display: block;
    }
}
@media(max-width:450px){
    .sidebar{
        width: 100%;
      
    }
    .menubar{
        margin-right: 150px;
    }
    
    
}
@media(max-width:370px){
       .menubar{
        margin-right: 110px;
    }
    
}
@media(max-width:550px){
       .menubar{
        margin-right: 150px;
    }
}
@media(max-width:350px){
       .menubar{
        margin-right: 100px;
    }
    
}